daphne==2.3.0
cython==0.29.14
gevent==1.4.0
gunicorn==19.9.0
numpy==1.16.4
Pillow==6.2.0
Twisted[tls,http2]==19.2.1
lxml==4.2.1
cryptography==2.3
asgiref==3.1.2
cffi==1.11.2
autobahn==17.9.1
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
idna==2.7
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==18.0.0
service-identity==17.0.0
six==1.10.0
txaio==2.10.0
zope.interface==4.5.0
psycopg2-binary==2.7.7
uvicorn==0.10.8
uvloop==0.14.0
httptools==0.0.13
